[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
"discord.py" = "~=1.7.0"
python-dotenv = "==0.17.0"
aiohttp = "==3.7.4.post0"
requests = "==2.25.1"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python bot.py"
lint = "pylint_runner"